*.Rcheck
*.tar.gz
*.so
*.o
.local
src-*
./propertee_*
*.swp
.pkgexclude
data-raw/*.html
data-raw/*.md
developer_docs/*.md
developer_docs/*.aux
developer_docs/*.log
developer_docs/*.out
developer_docs/*.rel
developer_docs/*.tex~
developer_docs/*.jp*g
developer_docs/*.pdf
developer_docs/*.R
inst/doc
## vignettes/ # see vignettes/.gitignore
.Rproj.user
.DS_Store
coverage.html
lib/*
/Meta/
/Doc/*.R*
/doc/
/docs/
/pkgdown/
*.RData
*.Rapp.history
*.Rhistory
*/auto