*.Rcheck
*.tar.gz
*.so
*.o
.local
src-*
./propertee_*
*.swp
.pkgexclude
inst/doc
vignettes/figure
vignettes/*.md
vignettes/*.R
vignettes/*.pdf
.Rproj.user
.DS_Store
coverage.html
lib/*
/Meta/
/Doc/*.R*
/doc/
/docs/
/pkgdown/
*.RData
*.Rapp.history
*.Rhistory
